*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'poppins';
	text-align: center;
}
.wrapper{
	width: 90%;
	margin: 0 auto;
}
header{
	width: 100%;
	height: 100px;
	background: #BB875A;
	position: fixed;
}
.logo{
	width: 30%;
	float: left;
    text-align: left;
    line-height: 100px;
}
.logo a{
    text-decoration:none;
    font-size: 30px;
    font-family: 'Pacifico';
    color: #fff;
    letter-spacing: 4px;
}
nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family: 'Poppins';
    letter-spacing: 4px;
    font-size: 20px;
    color: #fff;
    padding: 36px 10px;
    margin: 0 1px;
    font-weight: 500;
}
nav a:hover{
    background: #fff;
    color: #130f40;
    font-weight: 700;
}
.banner-area{
    background-image: url(images/castle.jpg);
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
}
.banner-area:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}
.banner-area h2{
    padding-top: 8%;
    font-size: 200px;
    color:#fff;
}
.content-area{
    width: 100%;
    height: 800px;
    position: relative;
    background:rgb(250, 242, 225);
    top: 600px;
}
.content-area h2{
    font-size: 60px;
    margin: 0;
    padding-top: 30px;
    letter-spacing: 4px;
}
.content-area p{
    padding: 2% 0;
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
}
.imgLeft{
    float: left;
    width: 350px;
    height: 200px;
    margin: 0px 10px 10px 0 ;
}
table{
    display: table;
    border-collapse: separate;
    border-color: #fff;
    border-spacing: 40px;
}
input{
    width: 50%;
    height: 5%;
    border: 1px;
    border-radius: 10px;
    padding: 15px 25px 18px 25px;
    margin: 20px 10px 25px 10px;
    box-shadow: 4px 4px 5px 4px #BB875A;
}
input, textarea{
    font-size: 20px;
}
.content-area2{
    width: 100%;
    height: 800px;
    position: relative;
    background: #FFF1E1;
    top: 600px;
}


